<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ISO: U | View your Flickr Photos</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./app/css/app.css" />
    <link rel="stylesheet" href="./app/css/cards.css" />
    
</head>
<body ng-app="ISOUApp">
    <div class="container-fluid" ng-controller="HomeController">
         
        <nav class="navbar navbar-fixed-top header">
            <div ng-show="isErrorOnSearch" class="alert alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Oops!</strong> Something went wrong. Couldn't find anything.
            </div>
            <div class="col-md-12">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">ISO: U | View your Flickr Photos</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse1">
                <form class="navbar-form pull-left">
                    <div class="input-group" style="max-width:470px;">
                        <input ng-model="user.search" type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button ng-click="search()" class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                    <li>
                        <a href="http://www.krisviceral.com" target="_ext">Kris Viceral
                        <i class="glyphicon glyphicon-user"></i></a>
                    </li>
                </ul>
                </div>	
            </div>	
        </nav>
        <div class="navbar navbar-default hidden-sm hidden-xs" id="subnav">
            <div class="col-md-7">
                <div class="navbar-header">                   
                    <h1>Hi! ibmtorontolab. <small>Showing you {{page.total}} photos in {{page.page}}/{{page.pages}} pages</small></h1>        	
                </div>	
            </div>
            <div class="col-md-5">
                <div class="collapse navbar-collapse" id="navbar-collapse2">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    
        

        <div id="photo-grid">
            <div class="col-md-3" ng-repeat="p in photos | filter:user.search">
                <div class="panel panel-default">
                    <div class="panel-heading">                         
                        <img src="{{p.urlDefault}}" class="img-responsive" alt="Responsive image">                
                    </div> 
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8 col-md-6 col-xs-12">
                                <h4>{{p.title}}</h4>
                            </div>
                            <div class="col-lg-3 col-md-2">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default"><i class="glyphicon glyphicon-heart-empty"></i></button>
                                        <button class="btn btn-default" ng-hide="p.isPhotoDetailsAvailable" ng-click="getPhotoDetails(p.id, p.secret)"><i class="glyphicon glyphicon-option-vertical"></i></button>
                                        <button class="btn btn-default  dropdown-toggle" ng-show="p.isPhotoDetailsAvailable" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="glyphicon glyphicon-save-file"></i>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li ng-repeat="d in p.details.download"><a href="{{d.source}}" target="_blank">{{d.label}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div class="photo-details" ng-show="p.isPhotoDetailsAvailable">
                            <div class="row">
                                <div class="col-md-10">
                                    By: <strong>{{p.details.details.photo.owner.username}}</strong> on {{p.details.details.photo.dateuploaded | date}} | Likes: {{p.details.favorites.photo.total}}    
                                </div>    
                            </div>
                            <div id="comment-box" class="row">
                                <div ng-show="isErrorOnComment" class="alert alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Oops!</strong> Something went wrong.
                                </div>
                                <div ng-show="isSuccessOnComment" class="alert alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Posted!</strong> Your voice was heard.
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input ng-model="user.comment" type="text" class="form-control" placeholder="Add a comment..">
                                        <span class="input-group-btn">
                                            <button ng-click="postComment(p.id)" class="btn btn-default" type="button">
                                                <i class="glyphicon glyphicon-send"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>           
        
    </div>
    
    <!--Dependencies-->
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <!-- Controllers -->
    <script type="text/javascript" src="./app/controllers/HomeController.js"></script>
    <!-- Services and Factories -->
    <script type="text/javascript" src="./app/services/PhotoFactory.js"></script>
    <script type="text/javascript" src="./app/services/PhotoService.js"></script>
    <!--Other Utils-->
    <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
